<html>
<head>
  <title>Twitter2mixi | TwitterしたらMixiエコーに自動送信!! </title>
  <link href="/css/main.css" media="screen" rel="Stylesheet" type="text/css" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
<%= session[:access_token] if @debug_flg %>
<%= '<br>' if @debug_flg %>
<%= session[:secret_token] if @debug_flg %>
<div id="content">
  <div id="header">
    <div>
      <h1><a href='/'>Twitter2Mixi</a> <font size=2 color='#a0a0a0'>ver alfa</font></h1>
      <small>TwitterしたらMixiエコーに自動送信!! 現在：<%= @user_dao.get_all_count %>人が利用中!</small>
    </div>
    <br clear="all"/>
  </div>
  
  <div id="nav" style="float:right">
    <p>
      <% if @login_flg %>
          <a href='/signup'>Mixiアカウント設定</a>
        | <a href='/unregist'>退会</a>
        | <a href='/disconnect'>ログアウト</a>
      <% else %>
          <a href='/connect'>ログイン(新規登録)</a>
      <% end %>
    </p>
  </div>
  <br clear="all"/>

  <%= yield %>

  <div id="footer" align="center">
    <br/>
    <small>
      copyright <a href='http://cyberwave.jp/nashiki/' target='_blank'>cyberwave.jp</a>
    </small>
  </div>
  
</div>
<%= partial :googleanalytics %>
</body>
</html>
