<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Twitter2mixi | TwitterしたらMixiエコーに自動送信!! </title>
  <link href="/css/style.css" media="all" rel="Stylesheet" type="text/css" />
</head>

<body>
<!-- Shell -->
<div id="shell">
  <a name="top"></a>
  <% if @configenv=='staging' || @configenv=='development'%>
    <div class="message error-message">
    <h1>※注意※ こちらは『<%= @configenv_ja %>環境』です。下記サイト<font color="red">使用禁止</font>です。<br>
    一般の方は、こちらの<a href='http://twitter2mixi.cyberwave.jp'>本番サイト</a>をご利用下さい。</h1><br>
    </div>
  <% end %>
  <a href='/'>
    <img src='/images/twitter2mixi_logo_main.png' alt='Twitter2Mixi ver alfa'>
  </a>
  <div class="right">
    TwitterしたらMixiボイスに自動送信!!
  </div>

  <div id="navigation">
    <ul>
      <% if @login_flg %>
        <li><a href='/member/setting'<%= " class='active'" if @path == '/member/setting' %>><span>設定全般</span></a></li>
<% if @user_dao.active_flg %>
  <% @webservices.each { |webservice| %>
        <li><a href='/member/setting/<%= webservice['name'] %>'<%= "class='active'" if @path == "/member/setting/#{webservice['name']}" %>><span><%= webservice['ja'] %></span></a></li>
  <% } %>
<% end %>
        <div class="right">
          <li><a href='/member/unregist'><span>退会</span></a></li>
          <li><a href='/member/logout'><span>ログアウト</span></a></li>
        </div>
      <% else %>
        <li><a href='/#whats'><span>twitter2mixiって？</span></a></li>
        <li><a href='/connect'><span>新規登録</span></a></li>
        <li><a href='/#faq'><span>よくある質問</span></a></li>
        <li><a href='/#our'><span>運営者</span></a></li>
        <li><a href='/#friend'><span>求人</span></a></li>
        <div class="right">
        <li><a href='/connect'><span>ログイン</span></a></li>
        <li><a href='/#kiyaku'><span>利用規約</span></a></li>
      <% end %>
    </ul>
  </div>

  <div id="content">
    <%= yield %>
  </div>
</div>
<!-- End Shell -->

<!-- Footer -->
<div id="footer" align="center">
  <small>
    &copy; <a href='http://cyberwave.jp/nashiki/' target='_blank'>cyberwave.jp</a><br/>
    original template from <a href='http://chocotemplates.com/' target='_blank'>chocotemplates.com</a><br>
  <%= session[:access_token] if @debug_flg %>
  <%= '<br>' if @debug_flg %>
  <%= session[:secret_token] if @debug_flg %>
  </small>
</div>
<!-- End Footer -->

<%= partial :_googleanalytics %>
</body>
</html>
