<h1>Twitter2Mixi設定</h1>
<center>
<% if @flash_error_mess && @flash_error_mess != '' %>
    <div class="message error-message">
        <p><strong><%= @flash_error_mess%></strong></p>
    </div>
<% end %>
<% if @flash_thank_mess && @flash_thank_mess != '' %>
    <div class="message thank-message">
        <p><strong><%= @flash_thank_mess%></strong></p>
    </div>
<% end %>
</center>
<br>

<br><br>

<hr />
<form method="post" action="/setting">
      <center>
      <h2><a href="/">Twitter2Mixi</a>設定</h2>

            <label>文末にTwitter URLを追加する</label>
            <input type="checkbox" name="echo_twitter_url" value="1" <%= 'checked' if params[:echo_twitter_url] != nil && params[:echo_twitter_url] == '1' %>/>
<hr />
      <h2><a href="http://h.hatena.ne.jp/">Hatena Haiku</a>設定</h2>

        <label>HatenaのID</label>
        <input type="text" size="20" name="hatena_id" value="<%= params[:hatena_id] %>" />
        <label>Hatena <strong>Haiku</strong>のパスワード</label>
        <input type="password" size="20" name="hatena_haiku_password" value="<%= params[:hatena_haiku_password] %>" />

<hr />
        <label>Google Calendarのメールアドレス</label>
        <input type="text" size="20" name="gcal_mail" value="<%= params[:gcal_mail] %>" />
        <label>Google Calendarのパスワード</label>
        <input type="password" size="20" name="gcal_password" value="<%= params[:gcal_password] %>" />
        <label>Google CalendarのFeed URL</label>
        <input type="text" size="70" name="gcal_feed_url" value="<%= params[:gcal_feed_url] %>" /><br />
        例:http://www.google.com/calendar/feeds/xxxxxxxxxxxxxxxxx@group.calendar.google.com/private/full<br />

<hr />
<input type="submit" value="　Twitter2Mixi設定更新　" /></center>
</form>

